body{
    font-family: font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 55px;
    padding-right: 100px;
    color: rgba(49, 48, 48, 0.979);
}

.orange-change{
    color: orangered;
}
p{
    font-size: 22px;
    color: grey;
}
section{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    padding-top: 10%;
}
.link-button{
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(rgba(255, 68, 0, 0.788),tomato);
    padding: 20px 50px;
    border-radius: 50px;
    text-align: center;
    box-shadow:  0 8px 16px 0 rgb(240, 100, 7), 0 6px 20px 0 rgba(236, 91, 7, 0);;
}
.top-banner{
background-image: url(images/shapes/7.png);
background-repeat: no-repeat;
}
#smaller-this{
    width: 70%;
}
.about-me{
    background-image:url(images/shapes/Frame\ 58.jpg)
}
.last-step{
    text-align:center;
}
.solved-area{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
}
#solution{
    width: 300px;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 3%;
    margin-top: 8%;
    padding-right: 5px;
}
.last-item{
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 3px;
    border-radius: 20px;
    box-shadow: 10px 20px 40px rgb(233, 82, 27);
}
.like-option{
    width: 80%;
    margin-left: 1%;
    margin-right: 130%;
    padding-left: 30%;
    box-shadow: 10px 20px 40px rgba(226, 72, 16, 0.459);
    border-radius: 20px;
}
.network-bg{
    background-color: rgb(56, 41, 32);border: 10px solid rgb(255, 83, 4);font-size:60px;color:rgb(250, 137, 8);border-radius: 10px;padding: 1px;text-align: center;"
}